# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.egg-info/

# Project venv folder (local)
.ssh-key-gui/

# PyInstaller
build/
dist/
*.spec

# Logs
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# Test / tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
